name: main

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        config:
          - node-version: '18.12.0' # LTS
            CODE_TEST: 'test-legacy'
            PKG: ''
            RIA_PACKAGER_TEST: ''

          - node-version: '20.9.0' # LTS
            CODE_TEST: 'test-legacy'
            PKG: ''
            RIA_PACKAGER_TEST: ''

          - node-version: '22.11.0' # LTS
            CODE_TEST: 'test'
            PKG: ''
            RIA_PACKAGER_TEST: ''

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            CODE_CHECK: 1
            PKG: ''
            RIA_PACKAGER_TEST: ''

          - node-version: '24.3.0' # Latest
            CODE_TEST: 'test'
            PKG: ''
            RIA_PACKAGER_TEST: ''

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-1.0.7.4880-windows
              - air-sdk-1.1.0.5790-windows
              - air-sdk-1.5.0.7220-windows
              - air-sdk-1.5.3.9120-windows
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-1.0.7.4880-mac-zip
              - air-sdk-1.1.0.5790-mac-zip
              - air-sdk-1.5.0.7220-mac-zip
              - air-sdk-1.5.3.9120-mac-zip
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-2.0.1.12090-windows
              - air-sdk-2.7.1.19610-windows
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-2.0.1.12090-mac-zip
              - air-sdk-2.7.1.19610-mac-zip
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-3.0.0.4080-windows
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-3.0.0.4080-mac-zip
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-3.2.0.2070-windows
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-3.2.0.2070-mac-zip
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-3.6.0.6090-windows
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-3.6.0.6090-mac-zip
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-25.0.0.134-windows
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-25.0.0.134-mac-zip
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-27.0.0.132-windows
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-27.0.0.128-mac-zip
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-32.0.0.116-windows
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-32.0.0.116-mac-zip
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-33.1.1.935-windows
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-33.1.1.935-mac
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-50.2.5.1-windows
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-50.2.5.1-mac
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-51.1.4.1-windows
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-51.1.4.1-mac
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-51.2.2.7-windows
            RIA_PACKAGER_TEST: 'adl,bundle'

          - node-version: '22.17.0' # LTS (current)
            CODE_TEST: 'test'
            PKG:
              - air-sdk-51.2.2.7-mac
            RIA_PACKAGER_TEST: 'adl,bundle'

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.config.node-version }}

      - name: Dependencies
        run: npm ci

      - name: shockpkg Cache
        uses: actions/cache@v4
        if: matrix.config.PKG != ''
        with:
          key: shockpkg-${{ join(matrix.config.PKG, '_') }}
          path: shockpkg

      - name: shockpkg Update
        run: npm run shockpkg -- update --summary

      - name: shockpkg Install
        run: npm run shockpkg -- install ${{ join(matrix.config.PKG, ' ') }}
        if: matrix.config.PKG != ''

      - name: Build
        run: npm run build

      - name: Test ESM
        run: npm run ${{ matrix.config.CODE_TEST }}:esm
        env:
          RIA_PACKAGER_TIMESTAMP_URL: ${{ vars.RIA_PACKAGER_TIMESTAMP_URL }}
          RIA_PACKAGER_TEST: ${{ matrix.config.RIA_PACKAGER_TEST }}

      - name: Test CJS
        run: npm run ${{ matrix.config.CODE_TEST }}:cjs
        env:
          RIA_PACKAGER_TIMESTAMP_URL: ${{ vars.RIA_PACKAGER_TIMESTAMP_URL }}
          RIA_PACKAGER_TEST: ${{ matrix.config.RIA_PACKAGER_TEST }}

      - name: Lint
        run: npm run lint
        if: matrix.config.CODE_CHECK == 1

      - name: Formatted
        run: npm run formatted
        if: matrix.config.CODE_CHECK == 1

  publish:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.16.0'
          registry-url: https://registry.npmjs.org/

      - name: Dependencies
        run: npm ci

      - name: Publish
        run: npm publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
